<div class="card card-primary">
               <div class="card-header">
                <!-- <h3 class="card-title">Quick Example <small>jQuery Validation</small></h3> -->
              </div> 

<!-- form start -->
            
                    <%= form_with(model: order) do |f| %>
                    <div class="card-body">
                      <p class="form-group">
                        <%= f.label :Order_Date %>
                        <%= f.text_field :order_date, autofocus: true, class:"form-control" %>
                      </p>
                      <p class="form-group">
                        <%= f.label :Client_Name %>
                        <%= f.text_field :client_name, autofocus: true, class:"form-control" %>
                      </p>
                      <p class="form-group">
                        <%= f.label :Number_Table %>
                        <%= f.text_field :number_table, autofocus: true, class:"form-control" %>
                      </p>
                      <p class="form-group">
                        <%= f.label :Employee_Id %>
                        <%= f.text_field :employee_id, autofocus: true, class:"form-control" %>
                      </p>
                      <p>
                        <%= f.submit class:'btn btn-primary' %>
                        <!-- <%= link_to 'Cancelar', root_path, class: 'btn btn-default'%> -->
                      </p>
                    <% end %>
                    <!-- <input type="Name" name="Name" class="form-control" id="exampleInputName" placeholder="Name"> -->
                  </div>